<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <div class="row justify-content-around">

        <div class="col-md-4 details-text">

            <h3>Detalles</h3>

            <hr>

            <p><strong>Descripción:</strong> {{description}}</p>
            <p><strong>Tipo:</strong> {{type}}</p>
            <p><strong>Duration:</strong> {{duration}}</p>
            <p><strong>Número de ejercicios:</strong> {{exercisesNumber}}</p>
             <p><strong>Ejercicios:</strong> {{exercises}}</p>

            <a href="/entrenamientos" class="btn btn-dark">Volver a los entrenamientos</a>

        </div>

        <div class="col-md-4">
         
            <article>
                <figure class="abs-img">
                    <img src="{{image}}" alt="{{name}} {{description}}">
                </figure>
                <strong>{{description}}</strong> 
            </article>

           

        </div>
    </div>


    <hr>



</div>