{{> navBar}}
<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <div class="row justify-content-around">

        <div class="col-md-8 details-text">

            <h3>Detalles</h3>

            <hr class="details-border">

            <p><strong>Descripción:</strong> {{description}}</p>
            <p><strong>Lugar:</strong> {{type}}</p>
            <p><strong>Duración:</strong> {{duration}} minutos</p>
            <p><strong>Número de ejercicios:</strong> {{exercisesNumber}}</p>
            <p><strong>Zona a trabajar:</strong> {{exercises}}</p>

           
            <a href="/entrenamientos" class="btn btn-dark">Volver a los entrenamientos</a>

        </div>

        <div class="col-md-4">

            <article>
                <figure>
                    <img class="details-img" src="{{image}}" alt="{{name}}">
                </figure>
                <strong>{{name}}</strong>
            </article>



        </div>
    </div>


    <hr>



</div>
{{> footer}}