{{> navBar}}
<div class="container">

    <h1>FAVORITOS</h1>

    <hr>

    <div class="row justify-content-around">

        <div class="col-md-4 details-text">

            {{!-- {{#each favourites}} --}}

            <h3>{{name}}</h3>

            <p><strong>Descripción:</strong> {{description}}</p>

            <a href="/entrenamientos/detalle/{{_id}}" class="btn btn-dark">Detalles</a>
            <a href="#" class="btn btn-dark">Quitar</a>

            <hr>

        </div>

        <div class="col-md-4">

            <article>
                <figure class="abs-img">
                    <img src="{{image}}" alt="{{name}} {{description}}">
                </figure>
                <strong>{{description}}</strong>
            </article>

            {{!-- {{/each}} --}}
            
            <a href="/perfil" class="btn btn-dark">Volver a Perfil</a>

        </div>
    </div>


    <hr>



</div>
{{> footer}}