{{> navBar}}
<div class="container">

    <h1>MIS ENTRENAMIENTOS</h1>

    <hr>

    <div class="row justify-content-around">

        <div class="col-md-4 details-text">

            <h3>{{name}}</h3>

            <p><strong>Lugar:</strong> {{type}}</p>

            <a href="/entrenamientos/detalle/{{_id}}" class="btn btn-dark">Detalles</a>
            <a href="/entrenamientos/editar-entrenamiento?training_id={{_id}}" class="btn btn-dark">Editar</a>
            <a href="/entrenamientos/eliminar-entrenamiento?training_id={{_id}}" class="btn btn-dark">Eliminar</a>

            <hr>

        </div>


        <div class="col-md-4">

            <article>
                <figure class="abs-img">
                    <img src="{{image}}" alt="{{name}}">
                </figure>
                
            </article>



        </div>
    </div>


    <hr>
    <a href="/perfil" class="btn btn-dark">Volver a Perfil</a>
    {{> footer}}