{{> navBar}}
<div class="container">

    <h1>Mis entrenamientos creados</h1>

    <hr>

    <div class="row justify-content-around">

        {{#each myTrainings}}
        <div class="col-md-4 details-text">


            <figure class="abs-img">
                <img class="fav-img" src="{{image}}" alt="{{name}} ">
            </figure>

            <h3>{{name}}</h3>

            <p><strong>Lugar:</strong> {{type}}</p>

            <a href="/entrenamientos/detalle/{{_id}}" class="btn btn-dark">Detalles</a>
            <a href="/entrenamientos/editar-entrenamiento?training_id={{_id}}" class="btn btn-dark">Editar</a>
            <a href="/entrenamientos/eliminar-entrenamiento?training_id={{_id}}" class="btn btn-dark">Eliminar</a>

            <hr>

        </div>
        {{/each}}


    </div>

    <div class="col text-center my-tr-button">
    <a href="/perfil" class="btn btn-dark">Volver a Perfil</a>
    </div>
    {{> footer}}