{{> navBar}}
<div class="container">
    <div class="col text-center">
        <h1>Listado de entrenamientos</h1>
    </div>

    <hr>
{{!-- 
    <div class="row justify-content-center filter-section"> --}}
        {{!-- <form action="/entrenamientos">
            <div class="form-row align-items-center">
                
                    {{!-- <select name="trainingsSel">
                        <option>Elige lugar...</option>
                        <option value="1">Al aire libre</option>
                        <option value="2">En casa</option>
                    </select> --}}
                </div>
                
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-dark btn-sm">Filtrar</button>
                </div>
            
        </form> --}}
        <form action='/entrenamientos'>
        <select name="trainingsSel">
                        <option>Elige lugar...</option>
                        <option value="1">Al aire libre</option>
                        <option value="2">En casa</option>
            </select>
            <button type="submit" class="btn btn-dark btn-sm">Filtrar</button>
        </form>
    

    <div class="row justify-content-around">

        <div class="col-md-4 training-col">



            <ul class="trainings-list">
                {{#each allTrainings}}
                <li>
                    <h4><strong>{{name}}</strong></h4>
                    <p>{{type}}</p>
                    <small>
                        <div class="row">
                            <div class="col-2">
                                <a class="btn btn-dark btn-sm list-button"
                                    href="/entrenamientos/detalle/{{_id}}">ver</a>
                            </div>
                            <div class="col-4">
                                <form method="POST" action="/entrenamientos/entrenamientos-fav?training_id={{_id}}">
                                    <button class="btn btn-dark btn-sm list-button" type="submit">guardar</button>
                                </form>
                            </div>

                        </div>
                        <hr>
                    </small>
                </li>
                {{/each}}
            </ul>



        </div>

        <hr>


        <div class="col-md-8 map-container">



            <div id="trainingsMap"></div>



        </div>
    </div>
</div>



<div class="col text-center">
    <a href="/entrenamientos/crear-entrenamiento" class="btn btn-dark">Crear entrenamiento</a>
</div>

{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/styles.js"></script>
<script src="/javascripts/trainings-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{map}}&callback=initApp"></script>
{{> footer}}